version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: django-backend
    command: >
      sh -c "
      until pg_isready -h $POSTGRES_HOST -p $POSTGRES_PORT -U $POSTGRES_USER;
      do echo 'Waiting for postgres...'; sleep 2; done;
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  celery:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: celery-worker
    command: celery -A core worker -l info
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
    depends_on:
      - backend
      - redis

  celery-beat:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: celery-beat
    command: celery -A core beat -l info
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
    depends_on:
      - redis

volumes:
  postgres_data: