version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: authz
      POSTGRES_USER: authz_user
      POSTGRES_PASSWORD: authz_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    env_file:
      - .env
    depends_on:
      - backend
      - redis
    ports:
      - "8001:8001"
  
  celery:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: celery-worker
    command: celery -A core worker -l info
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
    depends_on:
      - backend
      - redis

  celery-beat:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: celery-beat
    command: celery -A core beat -l info
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
    depends_on:
      - redis

volumes:
  postgres_data:
